<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
  <link rel="stylesheet" type="text/css" href="button_main.css">
</head>
<body background="background.jpg" style="background-size: cover; background-color: #cccccc">
  <center>
<h1 style="background-color: white; width: 400px;">NIRVAAS</h1>
  </center>

<center>
<br>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="post" action="{% url 'welcome:user_login' %}">
    {% csrf_token %}
<div class="b"> <br><br>
  <h2 style="background-color: #F4ECBE; width: 100px; height: 30px;">Login</h2><br><br>
  Email <br>&nbsp<input type="email" name="email" required>
  <br><br>
  Password <br>&nbsp<input type="password" name="password" minlength="8" required>
  <br><br><br>
  User Type<br>
  &nbsp<input type="radio" name="choice_field" value="Student" checked>&nbspStudent<br>
  &nbsp<input type="radio" name="choice_field" value="Stationery_staff" checked>&nbspStationery Staff<br>
    &nbsp<input type="radio" name="choice_field" value="Admin" checked>&nbspSystem Admin<br>
  <br><br>
  <div align="center"><a class="example_d" style="text-decoration: none;"><input type="submit" name="Login" value="Login" style="text-decoration-style: none; border: none; background-color: #20bf6b; padding: 0; border: 4px solid #20bf6b;border-radius: 6px; height: 40px; width: 90px;"></a></div>
</center>

</div>
</form>
</body>
</html>