<html>
<head>
	<title>Buy item</title>
	<style type="text/css">
		a{
			font-size: 20px;
			background-color: lemonchiffon;
		}
		body {
 background-color: #cccccc;
 background-size: cover;
}
		th, td{
			padding-right: 70px;
            padding-bottom: 20px;
			text-align: center;
		}

	</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<br>
<div class="w3-bar w3-border w3-light-grey">
  <a href='{% url "welcome:display_all_item" %}' class="w3-bar-item w3-button w3-hover-pale-blue" style="width: 20%">Buy an item</a>
  <a href="{% url "welcome:goto_bid_options" %}" class="w3-bar-item w3-button w3-hover-light-blue" style="width: 20%">Bid</a>
  <a href="{% url "welcome:view_cart" %}?which=1" class="w3-bar-item w3-button w3-hover-cyan" style="width: 20%">View cart</a>
    <a href="{% url "welcome:goto_display_order" %}" class="w3-bar-item w3-button w3-hover-cyan" style="width: 20%">View Orders</a>
  <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-hover-indigo" style="width: 20%">Logout</a>
</div>
<center>
{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
{% if items1 %}
    <form action="{% url 'welcome:make_a_bid' %}" method="post">
    {% csrf_token %}
    <br><br>
    <label>Enter item ID on which you wish to place a bid</label>
    <input type="number" name="item_id" value="item_id" required><br><br>
    <label>Enter your bid</label>
    <input type="number" name="bid_val" value="bid_val" required><br><br>
    <label>The bid value must be strictly greater than the last bid value</label><br><br>
    <input type="submit" value="Place Bid">
    </form>
    <table>
    <tr>
        <td>Item ID</td><td>Item name</td><td>Threshold value set</td><td>The last bid value</td><td>Seller Email</td>
    </tr>
        {% for item in items1 %}
            <tr>
            <td>{{ item.item_id }}</td><td>{{ item.item_name }}</td><td>{{ item.threshold_value }}</td><td>{{ item.curr_bid_value }}</td><td>{{ item.seller_email }}</td>
            </tr>
    {% endfor %}
    {% if items %}
        {% for item in items %}
            <tr>
            <td>{{ item.item_id }}</td><td>{{ item.item_name }}</td><td>{{ item.threshold_value }}</td><td>{{ item.curr_bid_value }}</td><td>{{ item.seller_email }}</td>
            </tr>
    {% endfor %}
        {% endif %}
    </table>
    {% else %}
    <p><strong>No Items on Bid</strong></p>
{% endif %}
</center>
</html>