<!DOCTYPE html>
<html>
<head>
	<title>Staff Homepage</title>
	<style type="text/css">
		a{
			font-size: 20px;
			background-color: lemonchiffon;
		}
		body {
 background-color: #cccccc;
 background-size: cover;
}
		th, td{
			padding: 100px;
			text-align: center;
		}
		form{
			text-align: center;
		}
		label{
			text-align: center;
			padding-right: 100px;
		}

	</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<br>
<div class="w3-bar w3-border w3-light-grey">
  <a href='{% url "welcome:sell" %}' class="w3-bar-item w3-button w3-hover-pale-blue" style="width: 35%">Sell an item</a>
  <a href='{% url "welcome:sell" %}' class="w3-bar-item w3-button w3-hover-light-blue" style="width: 35%">Check Stock</a>
  <a href='{% url "welcome:sell" %}' class="w3-bar-item w3-button w3-hover-indigo" style="width: 30%">Logout</a>
</div>
<br><br>
{% if message %} <p> <strong> {{ message }}</strong></p> {% endif %}

<br>
<form action="{% url 'welcome:sell' %}" method="post">
    {% csrf_token %}


<label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Select desired input</label><br>
<input type="radio" name="item_type" value="Item_name" checked>Item Name
<br>
<input type="radio" name="item_type" value="Item_ab">Author / Brand
<br><br>
    <label>Enter the name</label>
<input type="text" name = 'val_1' id = 'val_1' required>
    <br><br>
<input type="submit" value="Submit">
</form>


</body>
</html>