<!DOCTYPE html>
<html>
<head>
	<title>Delete an item</title>
	<style type="text/css">
		a{
			font-size: 20px;
			background-color: lemonchiffon;
		}
		body {
 background-color: #cccccc;
 background-size: cover;
}
		th, td{
			padding-bottom: 20px;
            padding-right: 70px;
			text-align: center;
		}
		form{
			text-align: center;
		}
		label{
			font-size: 22px;
			text-align: center;
			padding-right: 100px;
		}
		input[type=submit] {
    width: 9em;
    height: 3em;
    font-size: 22px;
}

	</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<br>
<div class="w3-bar w3-border w3-light-grey">
  <a href='{% url "welcome:sell" %}' class="w3-bar-item w3-button w3-hover-pale-blue" style="width: 25%">Sell an item</a>
    <a href='{% url "welcome:delete_item" %}' class="w3-bar-item w3-button w3-hover-light-blue" style="width: 25%">Delete an item</a>
  <a href='{% url "welcome:check_stock" %}' class="w3-bar-item w3-button w3-hover-light-blue" style="width: 25%">Check Stock</a>
  <a href='{% url "index" %}' class="w3-bar-item w3-button w3-hover-indigo" style="width: 25%">Logout</a>
</div>
<h1 style="color: #FB7A53; text-align: center;">Delete an Item</h1>
<br>
<center>
{% if message %} <p> <strong> {{ message }}</strong></p> {% endif %}
</center>
<center>
<form action="{% url 'welcome:delete_item' %}" method="post">
    {% csrf_token %}
<label>
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	Please enter item ID of the item you wish to delete: <input type="text" name="det_view" required>
</label>
<br><br>
<input type="submit" name="submit" value="Delete">
</form>
</center>
<center>
<form action="{% url 'welcome:view_items_all' %}" method="POST">
    {% csrf_token %}
    <input type="number" name='which' value="1" hidden>
    <input type="submit" name="submit" value="View all item IDs">
</form>
{% if items %}
<table>
    <tr>
    <td>Item ID</td><td>Item name</td>
    </tr>
    {% if items|length > 1 %}
    {% for item in items %}
        <tr>
        <td>{{ item.Item_id }}</td><td>{{ item.Item_title }}</td>
        </tr>
    {% endfor %}
    {% else %}
        <tr>
        <td>{{ items.Item_id }}</td><td>{{ items.Item_title }}</td>
        </tr>
    {% endif %}
</table>
</center>
{% endif %}

</html>