<html>
<head>
	<title>Buy item</title>
	<style type="text/css">
		a{
			font-size: 20px;
			background-color: lemonchiffon;
		}
		body {
 background-color: #cccccc;
 background-size: cover;
}
		th, td{
			padding: 100px;
			text-align: center;
		}

	</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<br>
<div class="w3-bar w3-border w3-light-grey">
  <a href='{% url "welcome:display_all_item" %}' class="w3-bar-item w3-button w3-hover-pale-blue" style="width: 25%">Buy an item</a>
  <a href="medicine_detail.php" class="w3-bar-item w3-button w3-hover-light-blue" style="width: 25%">Bid</a>
  <a href="{% url "welcome:view_cart" %}" class="w3-bar-item w3-button w3-hover-cyan" style="width: 25%">View cart</a>
  <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-hover-indigo" style="width: 25%">Logout</a>
</div>

<center>
{% if message %} <p><strong>{{ message }}</strong></p>
{% endif %}
    <table>
    {% if items|length > 1 %}
        <tr>
    {% for item in items %}

            <td><img src="{{ item.Item_photo }}" alt="{{ item.Item_title }}" width="70px" height="50px"><br> <br> <a href='{% url "welcome:display_details" %}?item_id={{   item.Item_id}}'> {{ item.Item_title }}</a><br> <br>{{ item.Item_price }}</td>
        {% if forloop.counter|divisibleby:3 %}
            </tr>
            <tr>
        {% endif %}
    {% endfor %}
        </tr>
    {% else %}
        <tr>
        <td><img src="{{ items.Item_photo }}" alt="{{ items.Item_title }}" width="70px" height="50px"><br> <br> <a href='{% url "welcome:display_details" %}?item_id={{   items.Item_id}}'> {{ items.Item_title }}</a><br> <br>{{ items.Item_price }}</td>
        </tr>
    {% endif %}
</table>
</center>


</html>