<html>
<head>
	<title>Buy item</title>
	<style type="text/css">
		a{
			font-size: 20px;
			background-color: lemonchiffon;
		}
		body {
 background-color: #cccccc;
 background-size: cover;
}
		th, td{
			padding: 100px;
			text-align: center;
		}

	</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<br>
<div class="w3-bar w3-border w3-light-grey">
  <a href='{% url "welcome:display_all_item" %}' class="w3-bar-item w3-button w3-hover-pale-blue" style="width: 20%">Buy an item</a>
  <a href="medicine_detail.php" class="w3-bar-item w3-button w3-hover-light-blue" style="width: 20%">Bid</a>
  <a href="{% url "welcome:view_cart" %}?which=1" class="w3-bar-item w3-button w3-hover-cyan" style="width: 20%">View cart</a>
    <a href="{% url "welcome:goto_display_order" %}" class="w3-bar-item w3-button w3-hover-cyan" style="width: 20%">View Orders</a>
  <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-hover-indigo" style="width: 20%">Logout</a>
</div>
<center>
    <br><br>
<form action="{% url 'welcome:empty_cart' %}" method="post">
    {% csrf_token %}
    Are you sure you want to empty the cart?<br><br>
    <input type="submit" value="Confirm">
</form>
<form action="{% url "welcome:view_cart" %}?which=1" method="post">
    {% csrf_token %}
    <input type="submit" value="Cancel">
</form>
    </center>
</html>