<html>
<head>
	<title>Buy item</title>
	<style type="text/css">
		a{
			font-size: 20px;
			background-color: lemonchiffon;
		}
		body {
 background-color: #cccccc;
 background-size: cover;
}
		th, td{
			padding: 100px;
			text-align: center;
		}

	</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<br>
<div class="w3-bar w3-border w3-light-grey">
  <a href='{% url "welcome:display_all_item" %}' class="w3-bar-item w3-button w3-hover-pale-blue" style="width: 25%">Buy an item</a>
  <a href="medicine_detail.php" class="w3-bar-item w3-button w3-hover-light-blue" style="width: 25%">Bid</a>
  <a href="{% url "welcome:view_cart" %}" class="w3-bar-item w3-button w3-hover-cyan" style="width: 25%">View cart</a>
  <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-hover-indigo" style="width: 25%">Logout</a>
</div>
{% if item %}
<center>
    <table>
        <tr>
            <td>
                <img src='{{ item.Item_photo  }}'>
            </td>
            <td>
                {{ item.Item_title }} <br> <br> {{ item.Item_ab }} <br> <br>{{ item.Item_description }} <br> <br> {{ item.Item_type }} <br> <br> {{ item.Item_price }}
            </td>
        </tr>
    </table>
    <form action="{% url "welcome:add_to_cart" %}" method="post">
        {% csrf_token %}
        <input type="number" name="id" value="{{ item.Item_id }}" hidden>
        <input type="submit" name="submit" value="Add to Cart">
    </form>
</center>
{% endif %}
</html>