<!DOCTYPE html>
<html>
<head>
<title>Sell item</title>
<style type="text/css">
a{
font-size: 20px;
background-color: lemonchiffon;
}
body {
 background-color: #cccccc;
 background-size: cover;
}
th, td{
padding: 100px;
text-align: center;
}
form{
text-align: center;
}
label{
text-align: center;
padding-right: 100px;
}

</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<br>
<div class="w3-bar w3-border w3-light-grey">
  <a href='{% url "welcome:sell" %}' class="w3-bar-item w3-button w3-hover-pale-blue" style="width: 25%">Sell an item</a>
    <a href='{% url "welcome:delete_item" %}' class="w3-bar-item w3-button w3-hover-light-blue" style="width: 25%">Delete an item</a>
  <a href='{% url "welcome:check_stock" %}' class="w3-bar-item w3-button w3-hover-light-blue" style="width: 25%">Check Stock</a>
  <a href='{% url "index" %}' class="w3-bar-item w3-button w3-hover-indigo" style="width: 25%">Logout</a>
</div>
<h1 style="color: #FB7A53; text-align: center;">Sell an Item</h1>
<br>
<form action="{% url 'welcome:sell' %}" method="post">
    {% csrf_token %}
<label>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspItem Name : <input type="text" name="item_name" id="item_name" required>
</label>
<br><br>
<label>
&nbsp&nbsp&nbspAuthor/ Brand : <input type="text" name="item_ab" id="item_ab" required>
</label>
<br><br>
<label>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspItem Price : <input type="number" name="item_price" id="item_price" required>
</label>
<br><br>
<label>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspQuantity : <input type="number" name="qty" id="qty" required>
</label>
<br><br>
<label>
Item Description : <input type="text" name="item_desc" id="item_desc" size="20" required>
</label>
<br><br>
<label>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Item Photo : <input type="file" name="item_pic" id="item_pic" accept="image/*" required>
</label>
<br><br>
<label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Type of Item</label><br>
<input type="radio" name="item_type" value="New">New
<br>
<input type="radio" name="item_type" value="Old">Old
<br><br>
<input type="submit" value="Submit">
</form>

</body>
</html>